.container {
    display:flex;
    align-items: center;
    justify-content: center;
    margin:25px;
}

.row {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    padding: 14px;
    height: 35px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}
.stable {
    background-color: green;
}

.experimental {
    background-color: red;
}
